{% extends 'base.html' %}

{% block head %}
<title>Login</title>
<link rel="stylesheet" href="{{ url_for('static',filename='css/login.css') }}">
{% endblock %}

{% block body %}
<div class="login-container">
    <h1>Enter Your API Key</h1>
    <form action='/login' id="api-key-form" method="POST">
        <select class="curser-click" name="apiplatform">
            <option value="chatgpt">ChatGPT</option>
            <option value="groq">Groq AI</option>
            <option value="together">Together AI</option>
            
        </select>
        <input type="text" id="api-key" class="cursor-type" name="apikey" placeholder="API Key" required>
        <button class="cursor-click" type="submit">Submit</button>
    </form>
    <p id="message"></p>
</div>

{% endblock %}